doctype html5
html
    head
        style
            include ../public/stylesheets/main.css
        title Sprawozdanie 1

    include partials/header
    div.content
        include partials/menu
        block content

    include partials/footer