extends base_template

block content
    article
        h2 Projekt: Sprawozdanie nr 1
        section
            h3 Kilka informacji:
            p To jest strona prezentująca praktyczne umiejętności wykorzystania szablonów
                ul
                li.text PUG,
                li.text obsługi sesji PASSPORT,
                li.text tworzenia RESTowego API,
                li.text wykorzystania bazy danych MongoDB!
            p Niektóre pozycje menu są widoczne po zalogowaniu!
            p Dodatkowo, dostęp do niektórych podstron jest możliwy tylko po zalogwaniu!
            p Aby móc się zalogować, po założeniu konta należy aktywować je klikając w link aktywacyjny w otrzymanym mailu!